*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header-link {
  text-decoration: none;
  color: inherit;
  
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
  
}


.header-btn{
  background: #050404;
  color: #fff;
  padding: 8px 15px;
  border-radius: 4px;
}

.Section {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  align-items: center;
}

.section-h1{
  width: 200px;
  height: 300px;
  margin-left: 300px;
}

.section-btn {
  background: #09d18e;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 4px;
  margin-left: 300px;
}

.servics {
  background: #f9f9f9;
  padding: 50px;
  text-align: center;
}

.cardes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.card {
  background: #fff;
  padding: 55px;
  width: 300px;
  text-align: left;
  border-radius: 6px;
}

.cards {
  background: #00f4c7;
  padding: 55px;
  width: 300px;
  text-align: left;
  border-radius: 6px;
}


.contacts {
  padding: 50px;
  text-align: center;
}

.Form-Box {
  background: #000000BA;
  padding: 30px;
  width: 400px;
  margin: 30px auto 0;
  border-radius: 8px;
}

.Form-Box input {
  width: 300px;
  background: transparent;
  border: none;
  color: #fffffff5;
  margin-bottom: 15px;
  padding: 10px 0;

}
.card-btn{
  background: #28dda1;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 4px;
  
}

.footer {
  background: #151414;
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 50px;
}